.sc-cart-spinner{:style => "display:none;"}
  %img{:alt => "読み込んでいます...", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/ui/loadIndicators/loading-large._CB192261613_.gif"}/
.sc-cart-overwrap{:style => "display:none;"}
.a-container
  #content.a-section{:role => "main"}
    .a-row
    .a-fixed-right-flipped-grid
      .a-fixed-right-grid-inner
        .a-fixed-right-grid-col.a-col-right{:style => "width:300px;float:right;"}
          #sc-buy-box.a-section
            %form#gutterCartViewForm{:action => "/gp/cart/desktop/go-to-checkout.html/ref=pd_luc_mri", :method => "get"}
              %noscript
                %input{:name => "hasWorkingJavascript", :type => "hidden", :value => "0"}/
              .sc-spinner{:style => "display:none;"}
                %img{:alt => "読み込んでいます...", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/x-locale/shopping-cart/loading-flc._CB401821910_.gif"}/
              .sc-overwrap{:style => "display:none;"}
              .a-box-group.sc-buy-box-group
                .a-box.sc-sss-box
                  .a-box-inner
                    .a-row.sc-sss
                      .a-box.a-alert-inline.a-alert-inline-success
                        .a-box-inner.a-alert-container
                          %i.a-icon.a-icon-alert
                          .a-alert-content
                            %span
                              通常配送無料
                              %a{:href => ""} 詳細
                            %p
                              %span.a-color-secondary
                    / EndOfMS3Cont
                / for box
              / for box group
              %input{:name => "cartInitiateId", :type => "hidden", :value => "1526225265866"}/
            / for form
          #sc-buy-box.a-section
          #sc-rec-right.a-section.a-spacing-large
            #cart-item-recs
              #cart-item-recs
                .a-box
                  .a-box-inner
                    %h5.a-spacing-base 最近の履歴に含まれている商品を買った人は、こんな商品も買っています:
                    .a-section.a-spacing-micro.p13n-sc-logged-list
                      .a-section.p13n-sc-list-cells-container
                        %ul.a-unordered-list.a-nostyle.a-vertical.p13n-sc-list-cells
                          %li.a-spacing-medium.p13n-sc-list-item{"data-fling-container" => "true"}
                            %span.a-list-item
                              .a-fixed-left-grid.p13n-asin{"data-p13n-asin-metadata" => "{\"ref\":\"pd_cart_cp_1_1\",\"asin\":\"B07C782LFH\"}"}
                                .a-fixed-left-grid-inner{:style => "padding-left:112px"}
                                  .a-fixed-left-grid-col.a-col-left{:style => "width:112px;margin-left:-112px;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %img.a-thumbnail-left{:alt => "夢で見たあの子のために(2) (角川コミックス・エース)", :height => "100", :src => "https://images-na.ssl-images-amazon.com/images/I/910vjhnzpvL._SL500__BG0,0,0,0_FMpng_SR100,100_.jpg", :width => "100"}/
                                  .a-fixed-left-grid-col.a-col-right{:style => "padding-left:0%;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %span{"aria-hidden" => "true", :title => "夢で見たあの子のために(2) (角川コミックス・エース)"} 夢で見たあの子のた …
                                    .a-row.a-size-small
                                      %a.a-size-small.a-link-child{:href => ""} 三部 けい
                                    .a-icon-row.a-spacing-none
                                      %a.a-link-normal{:href => "", :title => "5つ星のうち 4.3"}
                                        %i.a-icon.a-icon-star.a-star-4-5
                                          %span.a-icon-alt 5つ星のうち 4.3
                                      %a.a-size-small.a-link-normal{:href => ""} 5
                                    .a-row.a-size-small
                                      %span.a-size-small.a-color-secondary Kindle版
                                    .a-row
                                      %a.a-link-normal.a-text-normal{:href => "", :target => "_blank"}
                                        %span.a-size-base.a-color-price
                                          %span.p13n-sc-price ￥ 563
                                    .a-section.a-spacing-top-micro
                                      %span.a-button.a-spacing-top-none.a-button-small
                                        %span.a-button-inner
                                          %a.a-button-text{:href => "", :role => "button"} すべての出品を見る
                          %li.a-spacing-medium.p13n-sc-list-item{"data-fling-container" => "true"}
                            %span.a-list-item
                              .a-fixed-left-grid.p13n-asin{"data-p13n-asin-metadata" => "{\"ref\":\"pd_cart_cp_1_2\",\"asin\":\"B07CJG4RKX\"}"}
                                .a-fixed-left-grid-inner{:style => "padding-left:112px"}
                                  .a-fixed-left-grid-col.a-col-left{:style => "width:112px;margin-left:-112px;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %img.a-thumbnail-left{:alt => "亜人（１２） (アフタヌーンコミックス)", :height => "100", :src => "https://images-na.ssl-images-amazon.com/images/I/91CrRc6NOCL._SL500__BG0,0,0,0_FMpng_SR100,100_.jpg", :width => "100"}/
                                  .a-fixed-left-grid-col.a-col-right{:style => "padding-left:0%;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %span{"aria-hidden" => "true", :title => "亜人（１２） (アフタヌーンコミックス)"} 亜人（１２） (ア …
                                    .a-row.a-size-small
                                      %a.a-size-small.a-link-child{:href => ""} 桜井画門
                                    .a-icon-row.a-spacing-none
                                      %a.a-link-normal{:href => "", :title => "5つ星のうち 4.5"}
                                        %i.a-icon.a-icon-star.a-star-4-5
                                          %span.a-icon-alt 5つ星のうち 4.5
                                      %a.a-size-small.a-link-normal{:href => ""} 8
                                    .a-row.a-size-small
                                      %span.a-size-small.a-color-secondary Kindle版
                                    .a-row
                                      %a.a-link-normal.a-text-normal{:href => "", :target => "_blank"}
                                        %span.a-size-base.a-color-price
                                          %span.p13n-sc-price ￥ 540
                                    .a-section.a-spacing-top-micro
                                      %span.a-button.a-spacing-top-none.a-button-small
                                        %span.a-button-inner
                                          %a.a-button-text{:href => "", :role => "button"} すべての出品を見る
                          %li.a-spacing-medium.p13n-sc-list-item{"data-fling-container" => "true"}
                            %span.a-list-item
                              .a-fixed-left-grid.p13n-asin{"data-p13n-asin-metadata" => "{\"ref\":\"pd_cart_cp_1_3\",\"asin\":\"4065113490\"}"}
                                .a-fixed-left-grid-inner{:style => "padding-left:112px"}
                                  .a-fixed-left-grid-col.a-col-left{:style => "width:112px;margin-left:-112px;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %img.a-thumbnail-left{:alt => "宇宙兄弟(33) (モーニング KC)", :height => "100", :src => "https://images-na.ssl-images-amazon.com/images/I/515Pf8KPLyL._SL500_SR100,100_.jpg", :width => "100"}/
                                  .a-fixed-left-grid-col.a-col-right{:style => "padding-left:0%;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %span{"aria-hidden" => "true", :title => "宇宙兄弟(33) (モーニング KC)"} 宇宙兄弟(33)  …
                                    .a-row.a-size-small
                                      %a.a-size-small.a-link-child{:href => ""} 小山 宙哉
                                    .a-icon-row.a-spacing-none
                                      %a.a-link-normal{:href => "", :title => "5つ星のうち 4.5"}
                                        %i.a-icon.a-icon-star.a-star-4-5
                                          %span.a-icon-alt 5つ星のうち 4.5
                                      %a.a-size-small.a-link-normal{:href => ""} 16
                                    .a-row.a-size-small
                                      %span.a-size-small.a-color-secondary コミック
                                    .a-row
                                      %a.a-link-normal.a-text-normal{:href => "", :target => "_blank"}
                                        %span.a-size-base.a-color-price
                                          %span.p13n-sc-price ￥ 637
                                      %span{:style => "position: relative; top: 2px;"}
                                        %i.a-icon.a-icon-jp.a-icon-prime-jp.a-icon-small{"aria-label" => "プライム"}
                                          %span.a-icon-alt プライム
                                    .a-section.a-spacing-top-micro
                                      %form.a-spacing-none{:action => "", :method => "post"}
                                        %input{:name => "session-id", :type => "hidden", :value => "358-4173252-8157812"}/
                                        %input{:name => "quantity.4065113490", :type => "hidden", :value => "1"}/
                                        %input{:name => "asin.4065113490", :type => "hidden", :value => "4065113490"}/
                                        %input{:name => "offeringID.4065113490", :type => "hidden", :value => "R7VIfMwxHcgk0eXG2WywPSgc37R9WP0eXzFiYuct1ZuxkZY2gHpo1gK8rxlqwsGoPe2y3149RyUCVZyQLiWIgnMB%2BPU8hyD64dCI2QrwOms%3D"}/
                                        %input{:name => "discoveredAsins.1", :type => "hidden", :value => "4065113490"}/
                                        %span.a-button.a-spacing-top-none.a-button-primary.a-button-small
                                          %span.a-button-inner
                                            %input.a-button-input{:name => "submit.addToCart", :type => "submit", :value => "カートに入れる"}/
                                            %span.a-button-text{"aria-hidden" => "true"} カートに入れる
                          %li.a-spacing-medium.p13n-sc-list-item{"data-fling-container" => "true"}
                            %span.a-list-item
                              .a-fixed-left-grid.p13n-asin{"data-p13n-asin-metadata" => "{\"ref\":\"pd_cart_cp_1_4\",\"asin\":\"B07C5GLBRT\"}"}
                                .a-fixed-left-grid-inner{:style => "padding-left:112px"}
                                  .a-fixed-left-grid-col.a-col-left{:style => "width:112px;margin-left:-112px;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %img.a-thumbnail-left{:alt => "幼女戦記(9) (角川コミックス・エース)", :height => "100", :src => "https://images-na.ssl-images-amazon.com/images/I/91So9VVJ-kL._SL500__BG0,0,0,0_FMpng_SR100,100_.jpg", :width => "100"}/
                                  .a-fixed-left-grid-col.a-col-right{:style => "padding-left:0%;float:left;"}
                                    %a.a-link-normal{:href => "", :target => "_blank"}
                                      %span{"aria-hidden" => "true", :title => "幼女戦記(9) (角川コミックス・エース)"} 幼女戦記(9) ( …
                                    .a-row.a-size-small
                                      %span.a-size-small.a-color-base 東條 チカ
                                    .a-icon-row.a-spacing-none
                                      %a.a-link-normal{:href => "", :title => "5つ星のうち 4.4"}
                                        %i.a-icon.a-icon-star.a-star-4-5
                                          %span.a-icon-alt 5つ星のうち 4.4
                                      %a.a-size-small.a-link-normal{:href => ""} 24
                                    .a-row.a-size-small
                                      %span.a-size-small.a-color-secondary Kindle版
                                    .a-row
                                      %a.a-link-normal.a-text-normal{:href => "", :target => "_blank"}
                                        %span.a-size-base.a-color-price
                                          %span.p13n-sc-price ￥ 563
                                    .a-section.a-spacing-top-micro
                                      %span.a-button.a-spacing-top-none.a-button-small
                                        %span.a-button-inner
                                          %a.a-button-text{:href => "", :role => "button"} すべての出品を見る
        .a-fixed-right-grid-col.a-col-left{:style => "padding-right:3.5%;float:none;"}
          #cart-switch-language
          #cart-important-message-box
          #sc-new-upsell.a-row.sc-hidden{:style => "display: block;"}

            #cbcc_banner.cbcc_box{:width => "100%"}
              %span.cbcc_cboxTL
                /  
              %span.cbcc_cboxTR
                /  
              %span.cbcc_cboxR
                /  
              %span.cbcc_cboxBL
                /  
              %span.cbcc_cboxBR
                /  
              %span.cbcc_cboxB
                /  
              #cbcc_content_container
                %table.cbcc_inner{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                  %tbody
                    %tr
                      %td.cbcc_column
                        .cbcc_align_center
                          %img{:alt => "Amex Gold Card", :src => "https://images-na.ssl-images-amazon.com/images/G/09/marketing/visa/2006/AMZ_JP_CONS_GOLD_133_84_b._CB492479596_.jpg"}/
                      %td.cbcc_column
                        .cbcc_align_left.cbcc_customer_name_text
                          %strong
                            %span{:style => "color: #044E93"} "#{current_user.name}"さん、アメリカン・エキスプレス®・ゴールド・カード新規ご入会者様限定キャンペーン
                          %br/
                          %strong
                            %span.toplinered Amazonギフト券15,000円プレゼント
                          = succeed "\u{ff08}\u{5165}\u{4f1a}\u{5f8c}3\u{30f6}\u{6708}\u{4ee5}\u{5185}\u{306b}300,000\u{5186}\u{4ee5}\u{4e0a}\u{306e}\u{30ab}\u{30fc}\u{30c9}\u{3054}\u{5229}\u{7528}\u{304c}\u{3042}\u{3063}\u{305f}\u{65b9}\u{9650}\u{5b9a})" do
                            %br/
                      %td.cbcc_column
                        .cbcc_align_left
                          %img{:alt => "今すぐチェック", :src => "https://images-na.ssl-images-amazon.com/images/G/09/credit/img14/x-site/checkNow_sec_btn._CB348997091_.png"}/
              %a.click_region{:href => "/gp/product/B007TYQ1CQ/ref=cc_mp_amex_con_gld_fyf_v2_nm?pr=congold&inc=5kamexgl&ts=asvseuyj3gv35kq372qflvrs67aej1&plattr=nomath&ad=CGLDFYF2&place=vc&imp=8b2f5ff9-acc6-48d3-a379-43044075ab0b"}
          #sc-active-cart.a-section.a-spacing-top-base.sc-list.sc-java-remote-feature{"data-name" => "Active Cart"}
            %a{:href => "#", :name => "sc-anchor-active-cart"}
            .a-row.sc-cart-header
              %h1 お客様のお気に入り一覧
          #sc-checkout-prefetch.a-row.a-hidden{"data-assetsprefetchurl" => "/gp/buy/prefetch/pipeline-assets.html", "data-prefetchurl" => "/gp/cart/checkout-prefetch.html?ie=UTF8&checkAuthentication=1&checkDefaults=1", "data-prefetchurlforauthcheck" => "/gp/remotepagelet/signin/checkout-perf-initiate-and-store.html"}
          #sc-saved-cart.a-section.sc-list{"data-has-more-items" => "", "data-listfeature" => "desktop/saved-cart", "data-listid" => "saved-for-later", "data-listtype" => "saved-for-later", "data-page" => "1"}
            %a{:href => "#", :name => "sc-anchor-saved-cart"}
              .a-divider.a-divider-section
                .a-divider-inner
              .a-row.sc-list-body
                .sc-list-item-spinner{:style => "display: none;"}
                  %img{:border => "0", :height => "52", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/ui/loadIndicators/loading-large._CB192261613_.gif", :width => "52"}/
                .sc-list-item-overwrap{:style => "opacity: 0.5; width: 1055px; height: 129px; display: none;"}
                .sc-list-item-removed-msg.a-padding-medium{:style => ""}
                  %div{"data-action" => "delete", :style => ""}
                    %span.a-size-base
                      %a.a-link-normal.sc-product-link{:href => ""}
                      %input#pageDirty{:name => "", :type => "hidden", :value => "true"}/
                    .a-row
                      .a-column.a-span8
                      .a-column.a-span2.a-text-left.a-spacing-top-micro
                    %hr
                      = render 'like_index', product: @product
        #sc-about.a-row.a-size-small
          #cart-about-cart-warning.a-row
            %p Amazon.co.jp での商品価格や在庫状況は変更される場合があります。カートに追加した時と在庫状況や価格が異なることがあります。カート内で表示されている価格は最新の価格となります。
          %p 未登録のAmazonギフト券やクーポンは、お支払い方法選択画面や注文確定画面で入力できます。
        .sc-list-head.sc-java-remote-feature{"data-name" => "Active Items Header"}
          %noscript
