.a-fixed-left-grid-col.a-col-left{:style => "width:200px;margin-left:-200px;float:none;"}
  .a-section.s-padding-right-mini.s-border-right{"aria-label" => "左ナビゲーション", :role => "region", style: "border-right: 1px solid #ddd;"}
    .a-section.a-spacing-none{:role => "directory"}
      / wlim
      %div{:style => "display:none;"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center"}
              %map{:name => "DURM-392DE43208F26913"}
                %area{:alt => "3冊まとめ買いで最大8%ポイント還元キャンペーン", :coords => "0,0,180,117", :href => "", :shape => "rect"}/
              %img{:align => "center", :alt => "3冊まとめ買いで最大10%ポイント還元キャンペーン", :border => "0", :height => "117", :onload => "window.uet && uet.call && uet(\"af\") && uet(\"cf\");", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2018/books/other/MATOME3-8_top_lefnav._CB497681712_.png", :usemap => "#DURM-392DE43208F26913", :width => "180"}/
      %br/
      .left_nav.browseBox
        %h2{:style => ""}
          ブラウズ
        %h3 週間書籍ランキング
        %ul
          %li
            %a{:href => ""} 1位 よつばと!(14) (電撃コ ...
          %li
            %a{:href => ""} 2位 オーバーロード13 聖王 ...
          %li
            %a{:href => ""} 3位 ONE PIECE 89 (ジャンプ...
          %li
            %a{:href => ""} 4位 ELLE JAPON (エル・ジャ...
          %li
            %a{:href => ""} 5位 宇宙兄弟(33) (モーニン...
          %li
            %a{:href => ""} 6位 おじさまと猫(2)特装版(...
          %li
            %a{:href => ""} 7位 BRUTUS特別編集 増補版 ...
          %li
            %a{:href => ""} 8位 キングダム 50 (ヤング ...
          %li
            %a{:href => ""} 9位 ELLE JAPON (エル・ジャ...
          %li
            %a{:href => ""} 10位 逝きし世の面影 (平凡社...
        %h3 洋書
        %ul
          %li
            %a{:href => ""} 洋書トップ
          %li
            %a{:href => ""} 洋書バーゲンコーナー
        %h3 お買い得・セール
        %ul
          %li
            %a{:href => ""} 本 ポイントキャンペーン情報
        %h3 おすすめ
        %ul
          %li
            %a{:href => ""}
              本屋大賞 大賞発表！
          %li
            %a{:href => ""}
              マンガ大賞2018受賞作決定！
          %li
            %a{:href => ""}
              芥川賞＆直木賞 発表！
          %li
            %a{:href => ""}
              レビュー100件以上ストア
          %li
            %a{:href => ""}
              まとめ買い・セット本ストア
          %li
            %a{:href => ""} 書評をよむ
          %li
            %a{:href => ""} くもんのすいせん図書
        %h3 ジャンル
        %ul
          %li
            %a{:href => ""} 文学・評論
          %li
            %a{:href => ""} 人文・思想
          %li
            %a{:href => ""} 社会・政治･法律
          %li
            %a{:href => ""} ノンフィクション
          %li
            %a{:href => ""} 歴史・地理
          %li
            %a{:href => ""} ビジネス・経済
          %li
            %a{:href => ""} 投資・金融・会社経営
          %li
            %a{:href => ""} 科学・テクノロジー
          %li
            %a{:href => ""} 医学・薬学・看護学・歯科学
          %li
            %a{:href => ""} コンピュータ・IT
          %li
            %a{:href => ""} アート・建築・デザイン
          %li
            %a{:href => ""} 趣味・実用
          %li
            %a{:href => ""} スポーツ・アウトドア
          %li
            %a{:href => ""} 資格・検定・就職
          %li
            %a{:href => ""} 暮らし・健康・子育て
          %li
            %a{:href => ""} 旅行ガイド・マップ
          %li
            %a{:href => ""} 語学・辞事典・年鑑
          %li
            %a{:href => ""} 英語学習
          %li
            %a{:href => ""} 教育・学参・受験
          %li
            %a{:href => ""} 絵本・児童書
          %li
            %a{:href => ""} コミック
          %li
            %a{:href => ""} ライトノベル
          %li
            %a{:href => ""} ボーイズラブ
          %li
            %a{:href => ""} タレント写真集
          %li
            %a{:href => ""} ゲーム攻略本
          %li
            %a{:href => ""} エンターテイメント
          %li
            %a{:href => ""} 新書・文庫・ノベルス
          %li
            %a{:href => ""} 雑誌
          %li
            %a{:href => ""} 楽譜・スコア・音楽書
          %li
            %a{:href => ""} カレンダー・手帳
          %li
            %a{:href => ""} ポスター
          %li
            %a{:href => ""} 古本
          %li
            %a{:href => ""} 古書･希少本
          %li
            %a{:href => ""} アダルト
        %p.seeMore
          %span.carat ›
          %a{:href => ""} すべてのジャンルを見る
        %h3 配送オプション
        %ul
          %li
            %a{:href => ""} プライム対象商品
        %h3 サービス
        %ul
          %li
            %a{:href => ""} Prime Student会員プログラム
          %li
            %a{:href => ""} プリント・オン・デマンド
          %li
            %a{:href => ""} Amazon著者ページ
          %li
            %a{:href => ""} 人気度ランキング
          %li
            %a{:href => ""} 新刊･予約コーナー
          %li
            %a{:href => ""} なか見！検索
      .left_nav_footer  
      .left_nav.browseBox
        %h2{:style => ""}
          ブラウズ
        %h3 洋書
        %ul
          %li
            %a{:href => ""} Arts & Photography (アート)
          %li
            %a{:href => ""} Business (ビジネス)
          %li
            %a{:href => ""} Children's Books (児童書)
          %li
            %a{:href => ""} Comics (コミック)
          %li
            %a{:href => ""} Computers (コンピュータ)
          %li
            %a{:href => ""} Cookbooks (レシピ・ワイン)
          %li
            %a{:href => ""} Crafts, Hobbies & Home (趣味・暮らし)
          %li
            %a{:href => ""} Education & Reference (教育・参考書)
          %li
            %a{:href => ""} Humor & Entertainment(ユーモア・エンタメ)
          %li
            %a{:href => ""} Literature & Fiction (文学)
          %li
            %a{:href => ""} Medical (医学・薬学)
          %li
            %a{:href => ""} Audio CDs (オーディオブック)
          %li
            %a{:href => ""} 初めての洋書
          %li
            %a{:href => ""} ペーパーバック
          %li
            %a{:href => ""} 洋雑誌
        %p.seeMore
          %span.carat ›
          %a{:href => ""} 洋書トップ へ
      .left_nav_footer  
      :css
        .point-summary-container{
            padding:10px
        }
        .point-total-color{
            color:#e47911 !important;
        }
      .point-summary-container.a-text-center
        %h5.a-spacing-mini
          ポイント残高・履歴の確認
        .a-spacing-small
          %span.a-size-mini.carat >
          %a.a-size-mini.a-link-normal{:href => "/gp/rewards"} マイポイント（残高/獲得・利用履歴）
        %hr.a-spacing-mini.a-divider-normal/
      / wlrcm
      .unified_widget.rcmBody
        %h2
        %p
        %hr{:noshade => "noshade", :size => "1"}/
        .prodImage
          %a{:href => ""}
            %img{:align => "left", :alt => "なか見！検索", :border => "0", :height => "75", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2011/books/icon/search-inside_75._CB168285296_.gif", :width => "75"}/
        あるトピックに関する本を探したい。児童書やレシピ本のページ構成が見たい。そんなご要望すべてにお応えする
        %a{:href => ""} 「なか見！検索」
        %p
        %hr{:noshade => "noshade", :size => "1"}/
        .prodImage
          %a{:href => ""}
            %img{:align => "left", :alt => "プリントオンデマンド", :border => "0", :height => "50", :onload => "window.uet && uet.call && uet(\"cf\");", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/2011/books/icon/print-on-demand_50._CB168285303_.gif", :width => "50"}/
        %span.headline 1冊からでも印刷、お届け
        オンデマンド印刷技術で注文に応じて印刷、お届けする
        %a{:href => ""}> 「プリント・オン・デマンド(POD)」
        サービス。
        %p
        %hr{:noshade => "noshade", :size => "1"}/
        .prodImage
          %a{:href => ""}
            %img{:align => "left", :alt => "e託", :border => "0", :height => "57", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/extranet/associates/illustrations/book12._CB192235716_.gif", :width => "64"}/
        %span.headline Amazonで直接、商品を販売
        商品を委託し、常備することができる
        %a{:href => ""} 「e託販売サービス」
        %p 常に「在庫あり」表示をすることができ、売り逃し防止に。
        %hr{:noshade => "noshade", :size => "1"}/
        .prodImage
          %a{:href => "", :target => "_blank"}
            %img{:align => "left", :alt => "Kindleダイレクト・パブリッシング", :border => "0", :height => "50", :src => "https://images-fe.ssl-images-amazon.com/images/G/09/kindle/merch/kdp/kdp-icon-180x180._SS50_CB366790789_.png", :width => "50"}/
        %span.headline Kindleストアで本を出版
        あなたの本、コミック、写真集を世界中で販売して、最大70％の印税を受け取ってみませんか？出版にかかる費用は無料。
        %a{:href => "", :target => "_blank"}> Kindleダイレクト・パブリッシング
        。
      .left_nav.browseBox
        %h2{:style => ""}
          ブラウズ
        %h3 【4月】月間書籍ランキングTOP30
        %ul
          %li
            %a{:href => ""} 1位 よつばと!(14) (電撃コ ...
          %li
            %a{:href => ""} 2位 進撃の巨人(25) (講談社...
          %li
            %a{:href => ""} 3位 ダンジョン飯 6巻 (ハル...
          %li
            %a{:href => ""} 4位 オーバーロード13 聖王 ...
          %li
            %a{:href => ""} 5位 キングダム 50 (ヤング ...
          %li
            %a{:href => ""} 6位 羽生結弦 連覇の原動力 ...
          %li
            %a{:href => ""} 7位 ELLE JAPON (エル・ジャ...
          %li
            %a{:href => ""} 8位 パンツ専門ポーズ集 パ ...
          %li
            %a{:href => ""} 9位 乃木坂46写真集 乃木撮 ...
          %li
            %a{:href => ""} 10位 ワンパンマン 16 (ジャ ...
          %li
            %a{:href => ""} 11位 友だち幻想 (ちくまプリ...
          %li
            %a{:href => ""} 12位 シャンシャンのベストお...
          %li
            %a{:href => ""} 13位 10年後の仕事図鑑
          %li
            %a{:href => ""} 14位 AI vs. 教科書が読めな ...
          %li
            %a{:href => ""} 15位 宇宙兄弟(33) (モーニン...
          %li
            %a{:href => ""} 16位 漫画 君たちはどう生き ...
          %li
            %a{:href => ""} 17位 ONE PIECE 89 (ジャンプ...
          %li
            %a{:href => ""} 18位 a-jolie サングラス か ...
          %li
            %a{:href => ""} 19位 かがみの孤城
          %li
            %a{:href => ""} 20位 西野七瀬1stフォトブッ ...
          %li
            %a{:href => ""} 21位 ELLE JAPON (エル・ジャ...
          %li
            %a{:href => ""} 22位 創価大学 by AERA (AERA...
          %li
            %a{:href => ""} 23位 アルスラーン戦記(9) ( ...
          %li
            %a{:href => ""} 24位 ELLE JAPON (エル・ジャ...
          %li
            %a{:href => ""} 25位 菅井友香1st写真集
          %li
            %a{:href => ""} 26位 魔法科高校の劣等生(25)...
          %li
            %a{:href => ""} 27位 ハイキュー!! 31 (ジャ ...
          %li
            %a{:href => ""} 28位 さあ、才能(じぶん)に目...
          %li
            %a{:href => ""} 29位 からかい上手の高木さん...
          %li
            %a{:href => ""} 30位 僕のヒーローアカデミア...
