#a-page
  %img{:alt => "", :src => "https://images-na.ssl-images-amazon.com/images/G/09/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557390_.png", :style => "display:none"}

  #navbar.nav-sprite-v1.nav-bluebeacon.nav-subnav.nav-packard-glow{:role => "navigation"}
    #nav-subnav{"data-category" => "books", "data-digest" => "H1n5rfpwaBm68PM+Agpvlj0NzAM"}
      %a.nav-a.nav-b{:href => "/parent_categories/show", :tabindex => "31"}
        %span.nav-a-content 本
      %a.nav-a{:href => "", :tabindex => "32"}
        %span.nav-a-content 詳細検索
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-2", :href => "", :tabindex => "33"}
        %span.nav-a-content ジャンル一覧
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-3", :href => "", :tabindex => "34"}
        %span.nav-a-content 新刊・予約
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-4", :href => "/gp/bestsellers/books/ref=sv_b_3", :tabindex => "35"}
        %span.nav-a-content Amazonランキング
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-5", :href => "", :tabindex => "36"}
        %span.nav-a-content コミック・ラノベ・BL
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-6", :href => "", :tabindex => "37"}
        %span.nav-a-content 雑誌
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-7", :href => "", :tabindex => "38"}
        %span.nav-a-content 文庫・新書
        %span.nav-arrow
      %a.nav-a{:href => "", :tabindex => "39"}
        %span.nav-a-content Prime Student
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-9", :href => "", :tabindex => "40"}
        %span.nav-a-content バーゲン
        %span.nav-arrow
      %a.nav-a.nav-hasArrow{"data-nav-key" => "lt:subnav-flyout-index-10", :href => "", :tabindex => "41"}
        %span.nav-a-content 古本ストア
        %span.nav-arrow
      %a.nav-a{:href => "", :tabindex => "42"}
        %span.nav-a-content 直接取引で販売促進
