.record-info {
  height: 350px;
  border-top: 1px solid #ddd;
  padding: 15px 20px 15px;
  border-bottom: 1px solid #ddd;
  h3 {
    font-size: 20px;
  }
  ul {
    margin: 10px 10px 40px 25px;
    li {
      font-size: 13px;
      margin-top: 7px;
    }
  }
}
