.a-section {
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 0;
  }
}
.top-section {
  padding: 14px 18px;
  .top-logo {
    text-align: center;
  }
}
.a-icon-logo, .a-logo {
  background-position: -5px -130px;
  height: 31px;
  width: 103px;
}
.a-row {
  width: 100%;
  &:after,&:before {
    @include empty-table();
  }
}
.a-spacing-base {
  margin-bottom: 14px;
}
.a-spacing-large {
  margin-bottom: 26px;
}
.a-spacing-match-group {
  margin-bottom: 14px;
}
.a-spacing-medium {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 18px;
}
.authportal-center {
  width: 700px;
  margin: auto;
  .authportal-main {
    margin-bottom: 10px;
    .auth-container {
      width: 350px;
      margin: 0 auto;
    }
  }
}
a {
  text-decoration: none;
  color: #0066c0;
}
.a-button {
  width: 100%;
  background: #e7e9ec;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  .a-button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    border-radius: 2px;
    input {
      position: absolute;
      background-color: transparent;
      color: transparent;
      border: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: .01;
      outline: 0;
      overflow: visible;
      z-index: 20;
    }
  }
}
.a-button-orange {
    background: #f0c14b!important;
    border-color: #a88734 #9c7e31 #846a29!important;
    color: #111;
}
.form {
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  .form-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    h1 {
      font-weight: 400;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 10px!important;
    }
    .a-divider {
      text-align: center;
      position: relative;
      top: 2px;
      padding-top: 1px;
      margin-bottom: 14px;
      line-height: 0;
      h5 {
        line-height: 1;
        font-size: 12px;
        color: #767676;
        font-weight: 400;
        z-index: 2;
        position: relative;
        display: inline-block;
        background-color: #fff;
        padding: 0 8px 0 7px;
      }
      &:after {
        content: "";
        width: 100%;
        background-color: transparent;
        display: block;
        height: 1px;
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        z-index: 1;
      }
    }
    input {
      border: 1px solid #a6a6a6;
      border-top-color: #949494;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
      outline: 0; 
      background-color: #fff;
      height: 31px;
      padding: 3px 7px;
      line-height: normal;
      width: 100%;
    }
  }
  input[type=checkbox] {
    height: 13px;
    width: 13px;
    vertical-align: top;
    position: relative;
    bottom: -3px;
  }
}
