* {
  box-sizing: border-box
}

body {
  font-size: 13px;
  line-height: 19px;
  color: #333;
  font-family: Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0
}

h1, h2, h3, h4 {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility
}

h1 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: normal
}

h2 {
  font-size: 21px;
  line-height: 1.3;
  font-weight: bold
}

h1, h2, h3, h4 {
  padding-bottom: 4px
}

p {
  padding: 0;
  margin: 0 0 14px 0
}


.a-container {
  min-width: 996px;
  padding: 20px 24px;
  margin: 0 auto
}

.a-container.a-container-navpanel-wrapper>.a-row>[class^="a-span"], .a-container.a-container-navpanel-wrapper>.a-row>[class*=" a-span"] {
  padding: 22px 24px
}

.a-row:before, .a-row:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0
}

.a-row:after {
  clear: both
}

div.a-span1, div.a-span2, div.a-span3, div.a-span4, div.a-span5, div.a-span6, div.a-span7, div.a-span8, div.a-span9, div.a-span10, div.a-span11, div.a-span12, .a-ws div.a-ws-span1, .a-ws div.a-ws-span2, .a-ws div.a-ws-span3, .a-ws div.a-ws-span4, .a-ws div.a-ws-span5, .a-ws div.a-ws-span6, .a-ws div.a-ws-span7, .a-ws div.a-ws-span8, .a-ws div.a-ws-span9, .a-ws div.a-ws-span10, .a-ws div.a-ws-span11, .a-ws div.a-ws-span12 {
  margin-right: 2.53165%;
  float: left;
  _float: left!important;
  min-height: 1px;
  overflow: visible
}
.a-button-span12{
     width: 100%!important;
}


.a-row .a-span6, .a-ws .a-row .a-ws-span6 {
  width: 48.68608%;
  *width: 48.6019%
}

.a-row .a-span12, .a-ws .a-row .a-ws-span12 {
  width: 99.9519%;
  *width: 99.86772%
}

.a-column.a-span-last {
  margin-right: 0;
  float: right
}

.a-button.a-button-small.a-button-span12{
  background: #eff0f3;
    background: -moz-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f8fa),color-stop(100%,#e7e9ec));
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
}

.a-button-primary .a-button-inner {
     background: #f3d078;
    background: -moz-linear-gradient(top,#f7dfa5,#f0c14b);
     background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7dfa5),color-stop(100%,#f0c14b));
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
  }

.a-button {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  height: 31px;
  border: 1px solid;
  border-color: #bcc1c8 #bababa #adb2bb;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  text-decoration: none!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer
}

.a-button.a-span1, .a-button.a-span2, .a-button.a-span3, .a-button.a-span4, .a-button.a-span5, .a-button.a-span6, .a-button.a-span7, .a-button.a-span8, .a-button.a-span9, .a-button.a-span10, .a-button.a-span11, .a-button.a-span12 {
  float: none;
  margin-right: 0
}

.a-button .a-button-text, .a-button .a-button-input {
  outline: 0;
  color: #111;
  text-align: center;
  font-size: 13px;
  line-height: 29px;
  display: block;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  background-color: transparent;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0 10px 0 11px
}

.a-button-primary {
  border-color: #cba957 #bf942a #aa8326;
  background: #f0c14b
}

span.a-button-inner {
    display: block;
}

.a-spacing-medium, .a-ws .a-ws-spacing-medium {
    margin-bottom: 18px!important;
}

table {
  margin-bottom: 18px;
  border-collapse: collapse;
  width: 100%
}

td, th {
  padding: 3px;
  vertical-align: top
}

img {
  vertical-align: top
}

.a-divider.a-divider-section .a-divider-inner, .a-color-offset-background .a-box .a-divider.a-divider-section .a-divider-inner, .a-color-offset-background .a-color-base-background .a-divider.a-divider-section .a-divider-inner {
  height: 44px;
  margin-bottom: -18px;
  background: -moz-linear-gradient(top, #ddd, #f7f7f7 3px, white);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(3px, #f7f7f7), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #ddd, #f7f7f7 3px, white);
  background: -o-linear-gradient(top, #ddd, #f7f7f7 3px, white);
  background: -ms-linear-gradient(top, #ddd, #f7f7f7 3px, white);
  background: linear-gradient(top, #ddd, #f7f7f7 3px, white);
  filter: none;
  z-index: 0;
  zoom: 1
}

.a-divider.a-divider-section .a-divider-inner:after, .a-color-offset-background .a-box .a-divider.a-divider-section .a-divider-inner:after, .a-color-offset-background .a-color-base-background .a-divider.a-divider-section .a-divider-inner:after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: -moz-linear-gradient(left, white, rgba(255, 255, 255, 0), white);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0), white);
  background: -o-linear-gradient(left, white, rgba(255, 255, 255, 0), white);
  background: -ms-linear-gradient(left, white, rgba(255, 255, 255, 0), white);
  background: linear-gradient(left, white, rgba(255, 255, 255, 0), white);
  filter: none;
  z-index: 1;
  content: ""
}

.a-spacing-base, .a-ws .a-ws-spacing-base {
  margin-bottom: 14px!important
}

.aok-float-left {
  float: left!important
}

.a-fixed-left-grid {
  position: relative
}

.a-fixed-left-grid .a-fixed-left-grid-inner:before, .a-fixed-left-grid .a-fixed-left-grid-inner:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0
}

.a-fixed-left-grid .a-fixed-left-grid-inner:after {
  clear: both
}

input[type="text"], input[type="search"], input[type="number"], input[type="tel"], input[type="password"] {
  height: 31px;
  padding: 3px 7px;
  line-height: normal
}

div.checkout-as-desktop .address-book-entry {
  width: 20%;
  margin-right: 13%!important;
  float: left
}

.cl {
  clear: both
}

.addr-display div.displayAddressDiv {
  word-wrap: break-word
}

.addr-display ul {
  margin-left: 0;
  list-style-type: none;
  color: #333!important
}

#ppp-logo-inner {
  padding-left: 120px;
  padding-bottom: 5px
}

#ppp-left-grid {
  height: 36px;
  width: 120px;
  margin-left: -120px
}

#ppp-left-row {
  height: 36px;
  padding-top: 1px
}

#ppp-right-grid {
  padding-left: 0;
  *width: 100%
}

.a-form-actions {
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    background: #fbfbfb;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
    padding: 14px;
    text-align: right;
}



user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    overflow: none;
}

