.review
  .review__left
    .review__left__other
      .review__left__other__name
        %p 深夜ラジオいいね
      .review__left__other__subject
        %p リファレンスとしてよりも一味違うSQL文を目指す人におすすめ
      .review__left__other__data
        %p 2015年10月20日
      .review__left__other__type
        %p Amazonで購入
      .review__left__other__content
        %p 半分読み物ですね。しかし、そこがいいです。SQL文のポリシーや集合論、DBMSの高速化がわかって、納得して、スマートなSQL文を書けます。CASE式、Having句、自己結合、相関問い合わせが軽く使いこなせたらいいなあ。なにか、すっとする内容でした。
      .review__left__other__otherwise
        = link_to "役に立った", "" , class: "useful"
        = link_to "役に立たなかった" , "" , class: "useless"
        = link_to "コメント", "" ,class: "comment"
        = link_to "違反を報告", "", class: "violation"
  .review__right
    %h3 最近のカスタマレビュー
    .review__right__other
      .review__right__other__name
        %p ふじじ
      .review__right__other__subject
        %p 素晴らしい
      .review__right__other__content
        %p SQL初心者でしたが、例題を踏まえながら書き方のテクニックをわかりやすく学ぶことができます。内容は少し古いですが、初心者にオススメの一冊です。
      .review__right__other__data
        %p 投稿日: 6ヶ月前
