.record-info
  %h3 登録情報
  %ul
    %li
      %b 単行本（ソフトカバー）:
      320ページ
    %li
      %b 出版社:
      = @registration.pubiilsher
    %li
      %b 言語:
      日本語
    %li
      %b ISBN-10:
      = @registration.isbn
    %li
      %b ISBN-13:
    %li
      %b 発売日：
      2008/2/7
    %li
      %b 梱包サイズ:
      21.2 x 15.2 x 1.8 cm
    %li
      %b おすすめ度：
      = link_to " 27件のカスタマーレビュー", "" , class: "review"
    %li
      %b Amazon 売れ筋ランキング:
      本 - 10,709位
