.content
  %h3 商品の説明
  .content__introduce
    .content__introduce__subject
      %h4 内容紹介
      .content__introduce__subject__text
        %p プロのDBエンジニア必携!正しいSQLの書き方を学べる本!開発者向けWebサイト「CodeZine」で、2006年6月から続いている人気連載を大幅加筆・修正してカットアップ。標準SQL準拠のため、Oracle/SQL Server/DB2/PostgreSQL/MySQL等々の幅広いデータベースに対応しているほか、実際の開発現場でも活かしやすい実践的なコーディング事例も多数紹介しています。チューニングテクニックやリレーショナルデータベースの歴史なども網羅しており、脱初級や、より高みを目指したいDBエンジニアに必携の一冊です。
  .content__sub
    .content__sub__subject
      %h4 内容（「BOOK」データベースより）
      .content__sub__subject__text
        %p DBエンジニアに必要なSQLの正しい書き方・考え方が見につく、200を超す豊富なサンプルコード、25問の練習問題を収録。


